{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans "Update user" %}</h1>
<form action="{% url 'users_update' id=user_id %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
    </div>
    <div class="mb-3">
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
    </div>
    <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
        <div class="form-text" id="id_username_helptext">
            {% trans "Required field. No more than 150 characters. Only letters, numbers, and symbols @/./+/-." %}
        </div>
    </div>
    <div class="mb-3">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        <div class="form-text" id="id_password1_helptext">
            <ul>
                <li>
                    {% trans "Your password must contain at least 3 characters." %}
                </li>
            </ul>
        </div>
    </div>
    <div class="mb-3">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        <div class="form-text" id="id_password2_helptext">
            {% trans "Please enter the password again to confirm." %}
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="{% trans 'Update' %}">
</form>
{% endblock %}